/* Navigation */
.newCalendar {
	padding-left: 23px !important;
}

.newCalendar:before {
	position: absolute;
	content: '+';
	font-weight: bold;
	font-size: 150%;
	left: 7px;
}
h1 {
	font-size: 1.2em;
	font-weight: bold;
}
h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: dimgrey;
}
h2 {
	font-size: 1.1em;
}
/* Inhalt */
#app-content-wrapper {
	padding: 1em;
}